body {
  padding: 70px;
}

form {
  width: 300px;
}

.navbar {
  background-color: #CE153F;
  color: white;
}


#title {
  color: #FFF;
}


#links a {
  color: #FFF;
}

.food-cart-content a {
  color: #DB5876;
}

.food-cart-content a:hover {
  text-decoration: none;
  color: #6D6B6B;
}

#cart-button {
  background-color: #E21342;
  border-color: #E21342;
}

hr {
  /*display: block;*/
   height: 1px;
   /*border: 0;
   border-top: 3px solid #000;
   /*margin: 1em 0;
   padding: 0;*/
}
