<h3>{{model.name}}</h3>
<h6>{{model.cuisine}}</h6>

<!-- {{#each review in model}}
{{/each}} -->

{{#link-to 'food-carts.food-cart.reviews.new'}}Add a review{{/link-to}}

{{outlet}}

<!-- {{#each review in model}}
<ul>
  {{#link-to 'food-carts.food-cart.reviews'}}
  {{food-carts.food-cart.reviews}}
  {{/link-to}}
 </ul>
{{/each}} -->
