<form>
  <div class="form-group">
    <label for="name">Cart Name</label>
    {{input id="name" class="form-control" value=name}}
  </div>
  <div class="form-group">
    <label for="cuisine">Cuisine</label>
    {{input id="cuisine" class="form-control" value=cuisine}}
  </div>
  <button class="btn btn-sm btn-primary"{{action 'add'}}>Add</button>
</form>
